<a href="https://colab.research.google.com/github/Yegeurina/HW_BigDataProject/blob/main/FuzzyAttack%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import time
import math

In [3]:
label=['TimeStamp','CAN ID','DLC','DATA0','DATA1','DATA2','DATA3','DATA4','DATA5','DATA6','DATA7','Flag']

In [4]:
fuzzy = pd.Cov = pd.read_csv('/content/drive/Shareddrives/빅응보 플젝/Fuzzy_dataset.csv',names=label)

In [5]:
fuzzy.astype('object')
fuzzy.astype({'TimeStamp' : 'float64'})
fuzzy.astype({'DLC':'int64'})
fuzzy.dtypes

TimeStamp    float64
CAN ID        object
DLC            int64
DATA0         object
DATA1         object
DATA2         object
DATA3         object
DATA4         object
DATA5         object
DATA6         object
DATA7         object
Flag          object
dtype: object

In [6]:
# 결측값 있는 행 제거
fuzzy.dropna(axis=0,how='any',inplace=True)

In [7]:
fuzzy['CAN ID']=fuzzy['CAN ID'].apply(lambda x : int(str(x),16)) 
for i in range(0,8):
  adr = 'DATA'+str(i)
  #print(adr)
  fuzzy[adr]=fuzzy[adr].apply(lambda x : int(str(x),16))

In [8]:
fuzzy['TimeStamp']=fuzzy['TimeStamp']*math.pow(10,9)
fuzzy['TimeStamp']=pd.to_datetime(fuzzy['TimeStamp'],format="%Y-%m-%d %H:%M:%S")

In [9]:
fuzzy['Diff']=fuzzy.TimeStamp.diff()
fuzzy

                            TimeStamp  CAN ID  ...  Flag                      Diff
0       2016-11-03 17:55:21.903877120    1349  ...     R                       NaT
2       2016-11-03 17:55:21.908436992       2  ...     R 0 days 00:00:00.004559872
3       2016-11-03 17:55:21.908675840     339  ...     R 0 days 00:00:00.000238848
4       2016-11-03 17:55:21.909414144     304  ...     R 0 days 00:00:00.000738304
5       2016-11-03 17:55:21.909659904     305  ...     R 0 days 00:00:00.000245760
...                               ...     ...  ...   ...                       ...
3838855 2016-11-03 19:26:49.058007040     399  ...     R 0 days 00:00:00.000225024
3838856 2016-11-03 19:26:49.058236928     608  ...     R 0 days 00:00:00.000229888
3838857 2016-11-03 19:26:49.058471168     672  ...     R 0 days 00:00:00.000234240
3838858 2016-11-03 19:26:49.058702848     809  ...     R 0 days 00:00:00.000231680
3838859 2016-11-03 19:26:49.058944000    1349  ...     R 0 days 00:00:00.000241152

[3751024 rows x 13 columns]

In [10]:
fuzzy = fuzzy.sort_values(by=['CAN ID'],ascending=True)

In [11]:
grouped = fuzzy.groupby('CAN ID')
grouped.size()
Max_num = max(grouped.size())
Min_num = min(grouped.size())

In [12]:
def generate_lagged_features(fuzzy,var,max_lag) : 
  for t in range(1,max_lag+1) :
    fuzzy[var+'_lag'+str(t)]=fuzzy.groupby('CAN ID')[var].shift(t)

In [13]:
generate_lagged_features(fuzzy,'Diff',10) #차후 min max로 교환 예정
fuzzy

                            TimeStamp  ...                Diff_lag10
2494713 2016-11-03 18:29:23.247490048  ...                       NaT
2138410 2016-11-03 18:23:25.855016960  ...                       NaT
424630  2016-11-03 18:01:08.118797056  ...                       NaT
722357  2016-11-03 18:04:25.968442880  ...                       NaT
1469283 2016-11-03 18:12:41.194611968  ...                       NaT
...                               ...  ...                       ...
2042399 2016-11-03 18:21:51.213734912  ... 0 days 00:00:00.000218880
2885520 2016-11-03 18:35:49.679506944  ... 0 days 00:00:00.005938944
1153132 2016-11-03 18:09:14.729126912  ... 0 days 00:00:00.000571136
1134126 2016-11-03 18:09:03.999524096  ... 0 days 00:00:00.000222208
1138095 2016-11-03 18:09:06.500331264  ... 0 days 00:00:00.000301824

[3751024 rows x 23 columns]

In [ ]:
fuzzy.to_csv('/content/drive/Shareddrives/빅응보 플젝/Preprocessing_Fuzzy.csv')